*{
    margin:0;
}

.boxed{
    width: 1214px;
    max-width: 100%;
    padding:0 20px;
    margin:0 auto;
}


/*Header css*/

header{
    width: 100%;
    height: auto;
    position: sticky;
    top:0;
    z-index: 2000;
    padding: 10px 0;
    background-color: #fff;
}

header .box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .box .logo .image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

header .box .logo .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header .box .logo, 
header .box .navigation{
    padding: 0 11px;
    display: flex;
    align-items: center;
}

header .box .navigation .cart{
    width: 50px;
    height:100%;
    max-width: 100%;
    padding:0 10px;
    order:2;
}

header .box .navigation .cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

header .box .navigation .cart a img{
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 25px;
}

header .box .navigation .responsive{
    display: none;
    order:3;
}

header .box .navigation .responsive .burger{
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

header .box .navigation .responsive .burger span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top:50%;
    left:0;
    right:0;
    transform: translateY(-50%);
}

header .box .navigation .responsive .burger span.top{
    top:0;
    right:0;
    left:0;
    transform: translateY(0);
}

header .box .navigation .responsive .burger span.bottom{
    top:auto;
    right:0;
    left:0;
    bottom:0;
    transform: translateY(0);
}

header .box .navigation .regular ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin:0 -10px;
    padding-left:0;
}

header .box .navigation .regular ul li{
    padding:10px;
}

header .box .navigation .regular ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}


header .box .navigation .regular.active{
    position: relative;
}

/*about css*/

.about{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    z-index: 5;
    padding:10px 0;
}

.about .boxed{
    height: 100%;
}

.about .box{
    height:calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 -50px;
}

.about .box .single{
    width: calc(100% - 500px);
    padding:0 50px;
}

.about .box .single.auto{
    width: 550px;
}

.about .box .single .title{
    display: inline-block;
}

.about .box .single .title h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
    color:#fff;
}

.about .box .single .title p{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    color:#fff;
}

.about .box .single .image{
    width: auto;
    height: 200px;
    position: relative;
    padding-top:75%;
}

.about .box .single .image img,
.about .box .single .image svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    object-position: center;
}

.about .arrows {
    display: block;
    position: relative;
    height: 80px;
}

.about .arrows .arrow{
    width: 70px;
    height: auto;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    animation-name: arrow-move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes arrow-move {
    0%{
        top:0;
        opacity: 50%;
    }

    50%{
        top:calc(100% - 50px);
        opacity: 100%;
    }

    100%{
        top:0;
        opacity: 50%;
    }
}

.about .arrows .arrow.top{
    top:-20px;
    width: 55px;
    animation-delay: 0.3s;
}

.about .arrows .arrow a img{
    width: 100%;
    height: auto;
    filter:invert(100%);
}


/*Background image Code*/

.relative-space{
    position: relative;
}

.bg-image{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
}

.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top:0;
}


/*breakfast-block css*/

.menue-block{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0;
    z-index: 5;
}

.menue-block .title{
    display: inline-block;
    margin-bottom: 40px;
    overflow-x: hidden;
}

.menue-block .title h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
}

.menue-block .title .underline{
    width: 50%;
    display: block;
    height: 9px;
    border-radius: 30px;
    background-color: #ff9100;
}

.menue-block .box{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.menue-block .box .internal{
    display: flex;
    flex-direction: row;
    margin:0 -15px;
    position: relative;
    overflow: auto;
}

/* width */
.menue-block .box .internal::-webkit-scrollbar {
    width: 100%;
    height: 7px;
}
  
/* Track */
.menue-block .box .internal::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}
  
/* Handle */
.menue-block .box .internal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}
  
/* Handle on hover */
.menue-block .box .internal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menue-block .box .single{
    width: auto;
    height: auto;
    position: relative;
    padding:15px;
}

.menue-block .box .single .image{
    height: 200px;
    position: relative;
    width: 200px;
}

.menue-block .box .single .image:hover{
    transform: scale(1.1);
}

.menue-block .box .image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menue-block .box .image a .name{
    background-color: rgba(0, 0, 0,60%);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,50%));
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: all 0.5s ease;
}

.menue-block .box .image a .name h3{
    color:#fff;
    margin-bottom: 0;
    text-align: center;
}

.menue-block .box .image:hover a .name{
    opacity: 100%;
}

@media (max-width:767.98px) {
    header .box .navigation .responsive{
        display: block;
    }

    header .box .navigation .regular{
        display: none;
    }

    header .box .navigation .regular.active{
        position: absolute;
        top: 100%;
        right:0;
        background-color: white;
        z-index: 10;
        width: 25%;
        height: 100dvh;
        display: block;
        overflow: auto;
    }
    
    header .box .navigation .regular.active ul{
        flex-direction: column;
        align-items: flex-end;
        margin:0;
    }
}
