*{
    margin:0;
}

.boxed{
    width: 1214px;
    max-width: 100%;
    padding:0 20px;
    margin:0 auto;
}

/*Pre loader screen*/

.pre-loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    animation-name: preloader;
    animation-duration: 0.3s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    display: none;
}

@keyframes preloader {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        z-index: -1;
    }
}

.pre-loader .bg-color{
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-loader .bg-color .animation{
    width: 500px;
    height: 15px;
    background-color: orange;
    position: relative;
}


.pre-loader .bg-color .animation .line{
    width: 0%;
    height: 100%;
    background-color: #fff;
    position: relative;
    animation-name: line;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes line {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}


/* header css */

header{
    width: 100%;
    height: auto;
    position: relative;
    padding: 30px 0;
    z-index: 10;
    background-color: orange;
}

header .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 0 22px;
}

header .box .logo{
    display: block;
}

header .box .logo h1{
    margin-bottom: 0;
}

header .box .resp-nav{
    width: 25px;
    height: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .box .resp-nav span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
}

header .box .nav-bar{
    display: block;
}

header .box .nav-bar ul{
    display: flex;
    align-items: center;
    margin:0;
    padding-left:0;
    list-style: none;
}

header .box .nav-bar ul li{
    padding: 0 10px;
}



/*about css*/

.about{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    z-index: 5;
    padding:10px 0;
}

.about .boxed{
    height: 100%;
}

.about .box{
    height:calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 -50px;
}

.about .box .single{
    width: calc(100% - 500px);
    padding:0 50px;
}

.about .box .single.auto{
    width: 550px;
}

.about .box .single .title{
    display: inline-block;
}

.about .box .single .title h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
    color:#fff;
}

.about .box .single .title p{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    color:#fff;
}

.about .box .single .image{
    width: auto;
    height: 200px;
    position: relative;
    padding-top:75%;
}

.about .box .single .image img,
.about .box .single .image svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    object-position: center;
}

.about .arrows {
    display: block;
    position: relative;
    height: 80px;
}

.about .arrows .arrow{
    width: 70px;
    height: auto;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    animation-name: arrow-move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes arrow-move {
    0%{
        top:0;
        opacity: 50%;
    }

    50%{
        top:calc(100% - 50px);
        opacity: 100%;
    }

    100%{
        top:0;
        opacity: 50%;
    }
}

.about .arrows .arrow.top{
    top:-20px;
    width: 55px;
    animation-delay: 0.3s;
}

.about .arrows .arrow a img{
    width: 100%;
    height: auto;
    filter:invert(100%);
}


/*Background image Code*/

.relative-space{
    position: relative;
}

.bg-image{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
}

.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top:0;
}


/*breakfast-block css*/

.menue-block{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0;
    z-index: 5;
}

.menue-block .title{
    display: inline-block;
    margin-bottom: 40px;
    overflow-x: hidden;
}

.menue-block .title h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
}

.menue-block .title .underline{
    width: 50%;
    display: block;
    height: 9px;
    border-radius: 30px;
    background-color: #ff9100;
}

.menue-block .box{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.menue-block .box .internal{
    display: flex;
    flex-direction: row;
    margin:0 -15px;
    position: relative;
    overflow: auto;
}

/* width */
.menue-block .box .internal::-webkit-scrollbar {
    width: 100%;
    height: 7px;
}
  
/* Track */
.menue-block .box .internal::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}
  
/* Handle */
.menue-block .box .internal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}
  
/* Handle on hover */
.menue-block .box .internal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menue-block .box .single{
    width: auto;
    height: auto;
    position: relative;
    padding:15px;
}

.menue-block .box .single .image{
    height: 200px;
    position: relative;
    width: 200px;
}

.menue-block .box .single .image:hover{
    transform: scale(1.1);
}

.menue-block .box .image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menue-block .box .image a .name{
    background-color: rgba(0, 0, 0,60%);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,50%));
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: all 0.5s ease;
}

.menue-block .box .image a .name h3{
    color:#fff;
    margin-bottom: 0;
    text-align: center;
}

.menue-block .box .image:hover a .name{
    opacity: 100%;
}
