*{
    margin:0;
}

/*breakfast-block css*/

.breakfast-block{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0;
}

.breakfast-block .title{
    display: inline-block;
    margin-bottom: 40px;
    overflow-x: hidden;
}

.breakfast-block .title h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
}

.breakfast-block .title .underline{
    width: 50%;
    display: block;
    height: 9px;
    border-radius: 30px;
    background-color: #ff9100;
}

.breakfast-block .box{
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.breakfast-block .box .internal{
    display: flex;
    flex-wrap:wrap;
    margin:0 -15px;
    height: auto;
    position: relative;
}

.breakfast-block .box .single{
    width: 25%;
    height: auto;
    position: relative;
    padding:15px;
}

.breakfast-block .box .single .image{
    height: 250px;
    position: relative;
    width: auto;
}

.breakfast-block .box .image a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.breakfast-block .box .image a .name{
    background-color: rgba(0, 0, 0,70%);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0,50%));
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: all 0.5s ease;
}

.breakfast-block .box .image a .name h3{
    color:#fff;
    margin-bottom: 0;
    text-align: center;
}

.breakfast-block .box .image:hover a .name{
    opacity: 100%;
}
